<div class="container mt-4">
  <div *ngFor="let type of (pokemonByType | keyvalue)">
    <h2 class="my-4">{{ type.key | titlecase }} Type</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let pokemon of type.value">
        <div class="card">
          <img class="card-img-top" [src]="pokemon.sprites.regular" alt="{{ pokemon.name.fr }}">
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name.en }}</h5>
            <p class="card-text">
              <strong>Pokédex ID:</strong> {{ pokemon.pokedex_id }}<br>
              <strong>Category:</strong> {{ pokemon.category }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
